/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Pacifico&display=swap');

/*Asterisk wildcard selector to override styles added by the browser*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic projects styles */
    color: #3a3a3a;
}

/*Header*/
header {
    background-color: lightcoral;
}
/* Main content */
main {
    background-color: lightblue;
    flex: 1 0 auto; /* Allow main to grow and fill available space */
}
/* Footer */
footer {
    background-color: lightgreen;
}

.lato-thin{
    font-family: "lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}


.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}